<div class="main-modal-image" style="background:url('<%= @card.photo %>'); background-size:cover;">
  <%= Category.find(@card.category_id).name if @card.category_id? %>
  <h3> <%= @card.name %></h3>
</div>
<p class="text-right">
  Last updated at : <%= time_ago_in_words(@card.updated_at) %>
</p>

<div class="row">
  <div class="col-md-6">
  
    <p>
      <strong>Description:</strong>
      <%= @card.long_desc %>
    </p>
    <p>
      <strong>Readiness:</strong>
      <%= @card.readiness %>
    </p>
  </div>
   <div class="col-md-3">
    <p>Useful Links</p>
    
    <ul class="list-unstyled">
      <% @links.each do |link| %>
      <li><a href="<%= link.url %>" target="_blank"><%= link.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
</div>