<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>
      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, "Tags (commpa separated)" %><br>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>
    <% if f.object.photo_url %>
      <div class="form-group">
        <%= f.label :photo, class: "form-control file" %> (<%= t("valid_formats") %>: jpg, png)<br>
        <%= t("change") %>?<%= f.file_field :photo %>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.label :photo %> (<%= t("valid_formats") %>: jpg, png)<br>
        <%= f.file_field :photo, class: "form-control file" %>
      </div>
    <% end %>


  <div class="form-group">
    <%= f.label :short_desc %><br>
    <%= f.text_field :short_desc, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :long_desc %><br>
    <%= f.text_area :long_desc, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :readiness %><br>

<div class="row">
<div class="col-md-4">
Low = Scientifically viable = concept

</div>
<div class="col-md-4">
Medium = Technologically viable = in development
</div>
<div class="col-md-4">
High = Financially viable = product
</div>
<div class="col-md-12">
<br>
    <input type="range" name="readiness" min="0" step="0.5" max="1">
</div>
</div>
    </div>


  
  <div class="actions">
  <br>
    <%= f.submit "Submit for Approval", class: "btn btn-primary btn-block btn-lg" %>
  </div>
<% end %>

<script type="text/javascript">

$(document).ready(function(){
      var preview = $(".upload-preview img");

      $(".file").change(function(event){
        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function(e){
          image_base64 = e.target.result;
          preview.attr("src", image_base64);
        };
        reader.readAsDataURL(file);
      });


    });
</scrip>