<div id="container">
  <div class="row" id="main-content">
    <div class="col-sm-12 col-lg-12">
      <% @cards.each do |card| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >

        <a href="<%= card_path(card) %>" >
          <div class="card-container">
            <div class="card">
              <div class="front">
                <div class="cover">
                  <img src="<%= card.photo %>">
                </div>
                <div class="content">
                  <div class="main">
                    <h3 class="name"> <%= card.name %></h3>
                    
                    <p class="description"><%= card.short_desc %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% end %>
    </div>
      <div class="row text-center">
        <%= will_paginate @cards, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div> 