<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> Futuredeck: a database of emerging technologies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/flash_messages", flash: flash %> 
<%= render partial:'layouts/navbar' %>

<%= yield %>
<%= render partial:'layouts/footer' %>

</body>
</html>
