<!DOCTYPE html>
<html ng-app>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %> Futuredeck: a database of emerging technologies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/flash_messages", flash: flash %> 
<%= render partial:'layouts/navbar' %>

<%= yield %>
<!-- Large modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Small modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-beta" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Futuredeck beta</h4>
      </div>
      <div class="modal-body">
    <p>
      Welcome to the pre-release of Futuredeck. As this is work in progress, you'll notice tons of placeholder text and broken features. Ping <a href="mailto:mz@envisioning.io">mz@envisioning.io</a> if you want to be notified when we go live.
      </p>

      <p>Read more about <a href="http://www.envisioning.io/futurekit/">Futurekit</a>, the open-source technology thinking methodology to which the deck belongs </p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#modal-beta').modal('show');
</script>
<%= render partial:'layouts/footer' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55927103-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
